* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 1rem;
  background-color: thistle;
  border-bottom: 2px solid black;
}

section {
  border: 2px solid black;
  display: inline-block;
  height: 100px;
  width: 100px;
  padding: 1rem;
  position: relative;
  background-color: coral;
}

section p {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
