h1 {
  text-align: center;
  border-bottom: 2px solid gold;
}

.link-header {
  text-decoration: none;
  background: rgba(0, 0, 255, 0.25);
}

.importante {
  font-size: 1.5rem;
  font-weight: bold;
}

.texto {
  font-family: sans-serif;
  line-height: 1.5;
}
