.app-error {
  position: fixed;
  width: 100%;
  background: red;
  color: white;
  padding: 1rem;
  display: flex;
}

.app-error p {
  flex-grow: 1;
}

.app-waiting {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-content: center;
}
