[submodule "dia-2-state-hooks"]
	path = dia-2-state-hooks
	url = https://gitlab.com/blueoceanstart/hack-a-bos/react-workshop-01/dia-2-state-hooks.git
[submodule "React/React"]
	path = React/React
	url = https://gitlab.com/blueoceanstart/hack-a-bos/react-workshop-01/dia-2-state-hooks.git
[submodule "React/dia-1-components"]
	path = React/dia-1-components
	url = https://gitlab.com/blueoceanstart/hack-a-bos/react-workshop-01/dia-1-components-props.git
[submodule "React/dia-2-hooks-state"]
	path = React/dia-2-hooks-state
	url = https://gitlab.com/blueoceanstart/hack-a-bos/react-workshop-01/dia-2-state-hooks.git
