body {
  background: url(https://source.unsplash.com/random);
}

header h2 {
  background: cornflowerblue;
  background: #acabad;
  background: linear-gradient(rebeccapurple, gold);
}

header h3 {
  background: rgb(120, 33, 44);
  background: rgba(220, 200, 230, 0.5);
  padding: 1rem;
}
