@import "generico.css";

ul.container {
  display: grid;
  height: 100vh;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10rem;
  /* justify-items: stretch;
  align-items: stretch;
  place-items: center center; */
  justify-content: center;
  align-content: center;
  place-content: end end;
}

.item3 {
  justify-self: end;
  align-self: end;
}
